
:root{
    --green: #2acc1c;
    --see: #64F8FF;
    --light-blue : #04C3FF;
    --dark-blue: #00A2E4;
    --white: #eeeeee;
    --black: #202020;
    --dark: #34495e;
    --extra-dark: #032530;
    --background: #f1f2f3;
    --red: #e74c3c;
}
